.faq {
    background-color: #e5e9e2;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 20px;
}

.faq-test {
    margin: 0, 20px;
}

.faq-text {
    padding: 0, 20px;
}

.faq__tittle {
    font-size: 34px;
    font-weight: 700;
    color: var(--title-color);
}

.faq__description {
    font-size: 18px;
    font-weight: 600;
    color: var(--subtitle-color);
}

.faq-contact {
    margin-top: 60px;
    padding: 0 20px;
}

.faq-contact__text {
    font-size: 16px;
    color: var(--paragraph-color);
}

.faq-contact__link {
    font-size: 14px;
    color: var(--link-text-color);
}

.faq-accordion__text {
    font-size: 14px;
    color: var(--paragraph-color);
}

.faq-features{
    margin: 60px, 0, 0;
    padding: 0, 20px;
}

.faq-features__item {
    display: flex;
}