body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/milky-way-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#clickButton {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#clickButton:hover {
    background-color: #2980b9;
}